.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 2%;
    box-shadow: 0 0 10px #33333326;
    background: #a9a9a9;
    height: 50px;
    z-index: 9999;
    user-select   : none;
}
.top-menu .logo{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    transition: all .2s;
    margin-right: 5%;
}
.top-menu .logo:hover{
    transform: scale(1.03);
    
}
.top-menu nav ul li{
    position: relative;
    float: left;
}
.top-menu nav ul li a {
    padding: 15px;
    color: #fff;
    font-size: 16px;
    display: block;
}
.top-menu nav ul li a:hover{
    background: linear-gradient(-45deg, #21B9E1, #E71F53, #FBAF2E);
    color: #fff;
}
.top-menu nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    display: none;
    background: rgba(169,169,169, .9);
    border-radius: 5px; 
}
.top-menu nav ul li ul li {
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
}
.top-menu nav ul li ul li ul {
    left: 180px;
    top: 0;
}
.top-menu nav ul li:hover > ul{
    display: initial;
}