.content {
    width: 85%;
    overflow: auto;
}
.params-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 50px;
}
.params {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: 70%;
}
.content .params > div {
    width: 49%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #33333326;
    float: left;
}
.content .params > div:nth-child(odd) {
    margin: 0 1% 20px 1%;
}
.content .params > div:nth-child(even) {
    float: right;
}
.content label {
    margin-bottom: 10px;
    width: 45%;
    padding-bottom: 10px;
}
.content label.w {
    width: 100%;
}
.content label input[type=text] {
    width: 100%;
    margin-top: 10px;
}
.content label input[type=checkbox] {
    margin-right: 5px;
}
.content label span {
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 1250px) {
    .params {
        flex-direction: column;
    }
    .content .params > div {
        width: 96%;
        margin: 0 2% 20px 2% !important;
    }
  }